html {
  height: 100%;
}
html body {
  min-height: 100%;
  justify-content:center;
  align-items:center;
  background: -o-radial-gradient(
      center,
      circle farthest-corner,
      rgba(58, 137, 180, 0) 0,
      rgba(58, 137, 180, 0.8) 100%
    ),
    #fff;
  background: radial-gradient(
      circle farthest-corner at center,
      rgba(58, 137, 180, 0) 0,
      rgba(58, 137, 180, 0.8) 100%
    ),
    #fff;
}
@media (min-width: 40.063em) {
  html body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
#loginForm fieldset h3 {
  font-size: 15px;
}
#page {
  display: inline-block;
  max-width: 720px;
  min-height: 10em;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.4em 0.5em rgba(33, 78, 103, 0.2);
  box-shadow: 0 0.4em 0.5em rgba(33, 78, 103, 0.2);
}
@media (min-width: 40.063em) {
  #page {
    width: 50%;
    border-radius: 0.5em;
    margin: 1em;
  }
}
@media (min-width: 64.063em) {
  #page {
    min-width: 600px;
    max-width: 40%;
  }
}
#page header {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  position: relative;
  -webkit-box-shadow: 0 0.56em 1em -1em rgba(58, 137, 180, 0.75);
  box-shadow: 0 0.56em 1em -1em rgba(58, 137, 180, 0.75);
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
  border-radius: 0.5em 0.5em 0 0;
  height: 3.5em;
}
@media (max-width: 40em) {
  #page header {
    padding: 1em;
    border-radius: 0;
  }
}
#page header h1 {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1.66em;
  background-position: left center;
  background-size: contain;
}
@media (max-width: 40em) {
  #page header h1 {
    background-position: center center;
    height: 1.75em;
  }
}
#page .instructionbox {
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 15px;
  border: 1px dashed #a8acae;
  color: #4a4e50;
  background-color: rgba(58, 137, 180, 0.04);
}
#page .instructionseparate {
  display: block;
  color: #999;
  margin: 15px 0 10px 40px;
}
#page .round-timer {
  color: #4a4e50;
  background: #fff;
  border: 5px solid #3a89b4;
  font-size: 0.8rem;
  width: 80px;
  height: 80px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
}
#page .round-timer span {
  display: block;
  font-weight: 700;
  color: #000;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page .instructionlist {
  padding-left: 0;
  width: 70%;
  display: inline-block;
}
@media (max-width: 40em) {
  #page .instructionlist {
    width: 100%;
  }
}
#page .instructionlist:after {
  clear: both;
}
#page .instructionimg {
  width: 140px;
  height: auto;
  margin: 8px;
  display: inline-block;
}
@media (max-width: 40em) {
  #page .instructionimg {
    float: left;
  }
}
#page .clear {
  clear: both;
}
#page main {
  border: none;
  margin: 0;
  font-weight: 400;
  list-style: none;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #4a4e50;
}
#page main .referrerApp {
  margin: 1.5em;
  margin-bottom: 1em;
}
#page main .referrerApp img {
  float: right;
  max-width: 165px;
  width: 25%;
  height: 40px;
}
@media (max-width: 40em) {
  #page main .referrerApp img {
    display: none;
  }
}
#page main .referrerApp dl {
  font-size: 85%;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3em;
  width: 70%;
  position: relative;
}
@media (max-width: 40em) {
  #page main .referrerApp dl {
    height: auto;
    width: 100%;
  }
}
#page main .referrerApp dl dt {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  float: left;
  width: 33%;
}
@media (max-width: 40em) {
  #page main .referrerApp dl dt {
    margin-top: 1em;
    float: none;
    width: 100%;
  }
}
#page main .referrerApp dl dd {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5em;
  float: left;
  width: 66%;
  font-weight: 600;
  color: #3a89b4;
}
@media (max-width: 40em) {
  #page main .referrerApp dl dd {
    float: none;
    width: 100%;
  }
}
#page main .referrerApp dl dd span {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
#page main .methodSelector {
  margin: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
  background: #fff;
  border-radius: 0.33em 0.33em 0 0;
  padding: 1em;
  border: 2px solid rgba(58, 137, 180, 0.15);
  border-bottom: none;
}
#page main .methodSelector:before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 122, 161, 0);
  z-index: 8000;
  visibility: hidden;
  -webkit-transition: visibility 0s 1s, background 1s;
  -o-transition: visibility 0s 1s, background 1s;
  transition: visibility 0s 1s, background 1s;
}
#page main .methodSelector.open:before {
  visibility: visible;
  background: rgba(52, 122, 161, 0.25);
  -webkit-transition: visibility 0s, background 1s;
  -o-transition: visibility 0s, background 1s;
  transition: visibility 0s, background 1s;
}
@media (max-width: 40em) {
  #page main .methodSelector {
    height: 4.5em;
    margin: 1em;
    margin-bottom: 0;
  }
}
#page main .methodSelector h2 {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  display: block;
  float: left;
  font-size: 90%;
  width: 25%;
  color: #3a89b4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 3em;
  font-weight: 400;
}
@media (max-width: 40em) {
  #page main .methodSelector h2 {
    font-size: 85%;
    float: none;
    width: 100%;
    line-height: 2em;
    padding-left: 0;
  }
}
#page main .methodSelector h3 {
  color: #3a89b4;
  margin: 0;
}
#page main .methodSelector #loginMenuButton {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  height: 2.75em;
  width: 75%;
  font-size: 14px;
  display: block;
  float: right;
  border: 1px solid rgba(58, 137, 180, 0.66);
  background: #fff;
  background-repeat: no-repeat;
  background-size: 24px 24px, auto;
  background-position: right center;
  color: #4a4e50;
  border-radius: 0.25em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  padding-left: 0.5em;
  z-index: 9999;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  cursor: hand;
}
@media (max-width: 40em) {
  #page main .methodSelector #loginMenuButton {
    width: 100%;
  }
}
#page main .methodSelector #loginMenuButton strong {
  display: block;
  padding: 0.66em 0.66em 0.66em 2.5em;
  background-size: 2em auto;
  background-repeat: no-repeat;
}
#page main .methodSelector #loginMenuButton a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#page main .methodSelector #loginMenuButton a.focusable:active,
#page main .methodSelector #loginMenuButton a.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#page main .methodSelector #loginMenuButton.open {
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: none;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 9999;
}
#page main .methodSelector #loginMenuButton.open + #loginContextMenu {
  height: auto;
  overflow: visible;
}
#page main .methodSelector .password {
  background-position: left 10px;
}
#page main .methodSelector .mSignature {
  background-position: 1px -33px;
}
#page main .methodSelector .eSignature {
  background-position: left -78px;
}
#page main .methodSelector .idCard {
  background-position: left -124px;
}
#page main .methodSelector .onlineBanking {
  background-position: left -168px;
}
#page main .methodSelector #loginContextMenu {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  top: 2.75em;
  margin-left: 25%;
}
@media (max-width: 40em) {
  #page main .methodSelector #loginContextMenu {
    margin-left: 0;
  }
}
#page main .methodSelector #loginContextMenu h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#page main .methodSelector #loginContextMenu h2.focusable:active,
#page main .methodSelector #loginContextMenu h2.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#page main .methodSelector #loginContextMenu .forgotPass a {
  background-image: none !important;
  padding: 0.75em 0.75em 0.75em 0.75em !important;
}
#page main .methodSelector #loginContextMenu #userShortcuts {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  font-size: 14px;
  position: absolute;
  width: 100%;
  z-index: 9998;
  background: #fff;
  color: #4a4e50;
  border-radius: 0 0 0.25em 0.25em;
  border: 1px solid rgba(58, 137, 180, 0.66);
  border-top: none;
  padding: 0.25em 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: -0.25em;
  -webkit-box-shadow: 0 1em 1em -1em rgba(33, 78, 103, 0.5);
  box-shadow: 0 1em 1em -1em rgba(33, 78, 103, 0.5);
}
#page main .methodSelector #loginContextMenu #userShortcuts li {
  border-top: 1px solid rgba(58, 137, 180, 0.15);
}
#page main .methodSelector #loginContextMenu #userShortcuts li a {
  text-decoration: none;
  display: block;
  padding: 0.75em 0.75em 0.75em 2.5em;
  font-weight: 600;
  color: #4a4e50;
  background-size: 2em auto;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.5em;
}
#page main .methodSelector #loginContextMenu #userShortcuts li a:focus {
  text-decoration: none;
}
#page main .methodSelector #loginContextMenu #userShortcuts li a.disabled {
  color: #999;
  cursor: not-allowed;
}
#page main .methodSelector #loginContextMenu #userShortcuts li.active {
  display: none;
}
#page main .methodSelector #loginContextMenu #userShortcuts li:hover {
  background-color: rgba(58, 137, 180, 0.05);
}
#page main .methodSelector .comboChooser,
#page main .methodSelector .commonChooser {
  display: none;
  min-height: 2.75em;
  padding: 11px;
  margin: -14px;
  border-bottom: 1px solid #d8d8d8;
  background-color: rgba(58, 137, 180, 0.05);
}
#page main .methodSelector .comboChooser::after,
#page main .methodSelector .commonChooser::after {
  display: block;
  content: " ";
  clear: both;
}
#page main .methodSelector .commonChooser {
  display: block;
}
#page main .methodSelector .tabChooser {
  margin: -14px -14px;
  display: block;
}
#page main .methodSelector .tabChooser * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page main .methodSelector .tabChooser nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
#page main .methodSelector .tabChooser [role="tab"] {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-right: 1px solid #d3d3d3;
  min-height: 50px;
}
#page main .methodSelector .tabChooser [role="tab"]:last-child {
  border-right: none;
}
#page main .methodSelector .tabChooser a {
  display: block;
  padding: 7px 0 0 5px;
  background-color: #fff;
  text-decoration: none;
  color: #666b6e;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0;
  min-height: 50px;
}
#page main .methodSelector .tabChooser a:hover {
  text-shadow: 1px 1px #cbcbcb;
}
#page main .methodSelector .tabChooser .active {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px #cbcbcb;
  border-bottom: none;
}
#page main .methodSelector .tabChooser span {
  display: block;
  padding: 0.66em 0.66em 0.66em 2.2em;
  background-size: 2em auto;
  background-repeat: no-repeat;
}
@media all and (max-width: 875px) {
  #page main .methodSelector .comboChooser {
    display: block;
  }
  #page main .methodSelector .tabChooser {
    display: none;
  }
}
#page #pageContent {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #fff;
  padding: 1em;
  margin: 0 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 0 0.33em 0.33em;
  border: 2px solid rgba(58, 137, 180, 0.2);
  border-top: none;
}
@media (max-width: 40em) {
  #page #pageContent {
    margin: 1em;
    margin-top: 0;
  }
}
#page #pageContent .richText {
  font-size: 90%;
  color: #4a4e50;
  border-bottom: 1px dotted #e7ebed;
  padding-bottom: 1em;
  font-weight: 200;
}
#page #pageContent .richText a {
  display: inline-block;
  color: #347aa1;
  text-decoration: none;
  font-weight: 400;
  margin-left: 0.5em;
}
#page #pageContent .richText a:focus {
  text-decoration: none;
}
#page #pageContent .richText a:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f145";
}
#page #pageContent .richText a:before {
  font-size: 120%;
  margin-right: 0.25em;
}
#page #pageContent .bbnone {
  border-bottom: none;
}
#page #pageContent .limitedText {
  background: #f9f9f9;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
  font-size: 90%;
  color: #4a4e50;
  border-bottom: 1px dotted #e7ebed;
  padding-bottom: 1em;
  font-weight: 400;
  line-height: 1.5em;
}
#page #pageContent .limitedText a {
  display: inline-block;
  color: #347aa1;
  text-decoration: none;
  font-weight: 400;
  margin-left: 0.5em;
}
#page #pageContent .limitedText a:focus {
  text-decoration: none;
}
#page #pageContent .limitedText a:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f145";
}
#page #pageContent .limitedText a:before {
  font-size: 120%;
  margin-right: 0.25em;
}
#page footer {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  padding: 1em 1.5em;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #4a4e50;
}
#page footer .copyrightDetails {
  font-size: 85%;
  color: #a8acae;
}
@media (max-width: 40em) {
  #page footer .copyrightDetails {
    text-align: center;
    margin-top: 1em;
  }
}
#page footer ul {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  font-size: 85%;
}
@media (min-width: 40.063em) {
  #page footer ul {
    float: right;
  }
}
#page footer ul li {
  text-align: center;
  padding-bottom: 0.5em;
}
@media (min-width: 40.063em) {
  #page footer ul li {
    display: inline;
    text-align: left;
    margin-left: 1em;
  }
}
#page footer ul li a {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  color: #347aa1;
}
#page footer ul li a:focus {
  text-decoration: none;
}
#page .formRow {
  padding: 1em 0.5em;
  border-bottom: 1px dashed #e7ebed;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  position: relative;
}
#page .formRow.errored {
  background: #fff4f4;
  -webkit-box-shadow: 0 0 0 0.25em #fff4f4;
  box-shadow: 0 0 0 0.25em #fff4f4;
  border-bottom: none;
}
#page .formRow:last-of-type {
  border-bottom: none;
}
#page .formRow .rowLabel {
  display: block;
  font-weight: 400;
  padding-bottom: 0.25em;
}
@media (min-width: 40.063em) {
  #page .formRow .rowLabel {
    padding-top: 0.5em;
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
#page .formRow.required .rowLabel:before {
  content: "*";
  color: #347aa1;
  font-weight: 400;
  position: relative;
  top: 0.1em;
  margin-right: 0.25em;
}
#page .formRow .fieldError {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  color: #830a0a;
  border-bottom: 1px solid rgba(131, 10, 10, 0.2);
}
#page .formRow .fieldError:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f146";
}
#page .formRow .fieldError:before {
  font-size: 120%;
  vertical-align: text-bottom;
}
@media (min-width: 40.063em) {
  #page .formRow .fieldGroup {
    width: 60%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
#page .formRow .adjacentFields,
#page .formRow .cascadingSelect,
#page .formRow .optionalFields {
  overflow: hidden;
}
#page .formRow .adjacentFields .fieldGroup,
#page .formRow .cascadingSelect .fieldGroup,
#page .formRow .optionalFields .fieldGroup {
  float: left;
  width: auto;
  margin-right: 1em;
}
#page .formRow .adjacentFields .fieldGroup .fieldLabel,
#page .formRow .cascadingSelect .fieldGroup .fieldLabel,
#page .formRow .optionalFields .fieldGroup .fieldLabel {
  font-size: 85%;
  color: #4a4e50;
  display: block;
}
#page .formRow .adjacentFields .fieldGroup > input,
#page .formRow .cascadingSelect .fieldGroup > input,
#page .formRow .optionalFields .fieldGroup > input {
  display: inline-block;
  margin-top: 2px;
  width: auto;
  min-width: 8em;
}
#page .formRow .adjacentFields .fieldGroup > select,
#page .formRow .cascadingSelect .fieldGroup > select,
#page .formRow .optionalFields .fieldGroup > select {
  display: block;
  width: auto;
  min-width: 8em;
}
#page .formRow .adjacentFields.compact .fieldGroup,
#page .formRow .cascadingSelect.compact .fieldGroup,
#page .formRow .optionalFields.compact .fieldGroup {
  float: none;
  margin-bottom: 1em;
  margin-right: 0;
}
#page .formRow .adjacentFields.compact .fieldGroup .text,
#page .formRow .cascadingSelect.compact .fieldGroup .text,
#page .formRow .optionalFields.compact .fieldGroup .text {
  width: 100%;
}
#page .formRow .adjacentFields.compact .fieldGroup:last-of-type,
#page .formRow .cascadingSelect.compact .fieldGroup:last-of-type,
#page .formRow .optionalFields.compact .fieldGroup:last-of-type {
  margin-bottom: 0;
}
#page .formRow .optionalFields .fieldGroup {
  padding-bottom: 1.5em;
  border-bottom: 1px dashed #a8acae;
}
#page .formRow .optionalFields .fieldGroup:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
#page .formRow .date,
#page .formRow .text,
#page .formRow .treeSingle {
  margin: 0;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  min-width: 20ex;
  max-width: 50%;
  width: 100%;
  height: 2.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  background: #fff !important;
}
#page .formRow .date.captcha,
#page .formRow .text.captcha,
#page .formRow .treeSingle.captcha {
  min-width: 0;
  width: 6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  font-size: 133%;
  height: 2em;
  padding: 0.25em;
}
#page .formRow .date[readonly],
#page .formRow .text[readonly],
#page .formRow .treeSingle[readonly] {
  background: rgba(231, 235, 237, 0.5);
  border: 1px solid #a8acae;
  color: #4a4e50;
}
#page .formRow .date[disabled],
#page .formRow .text[disabled],
#page .formRow .treeSingle[disabled] {
  background: rgba(231, 235, 237, 0.5);
  border: 1px solid #a8acae;
  color: #4a4e50;
  cursor: not-allowed;
}
#page .formRow .date[pattern],
#page .formRow .text[pattern],
#page .formRow .treeSingle[pattern] {
  padding: 0.5em 2em 0.5em 0.5em;
}
#page .formRow .date[pattern]:invalid,
#page .formRow .text[pattern]:invalid,
#page .formRow .treeSingle[pattern]:invalid {
  background-size: 2em 1.4em;
  background-position: center right;
  background-repeat: no-repeat;
}
#page .formRow .date[pattern]:valid,
#page .formRow .text[pattern]:valid,
#page .formRow .treeSingle[pattern]:valid {
  background-size: 2em 1.4em;
  background-position: center right;
  background-repeat: no-repeat;
}
#page .formRow .date,
#page .formRow .maskToggle,
#page .formRow .treeSingle {
  width: auto;
  border-radius: 0.25em 0 0 0.25em;
  border-right: none;
  margin-right: 0;
}
#page .formRow .range {
  margin: 0;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  min-width: 20ex;
  width: 100%;
  height: 2.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  background: #fff;
  color: #000;
}
#page .formRow .range::-webkit-slider-runnable-track {
  background: #e7ebed;
  border-radius: 0.25em;
}
#page .formRow .calendarLink,
#page .formRow .treeSinglePickLink {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  vertical-align: top;
  display: inline-block;
  background: #e7ebed;
  border: 1px solid #a8acae;
  border-left: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  overflow: hidden;
  border-radius: 0 0.25em 0.25em 0;
  position: relative;
  left: -0.25em;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}
#page .formRow .calendarLink:before,
#page .formRow .treeSinglePickLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f10d";
}
#page .formRow .calendarLink:before,
#page .formRow .treeSinglePickLink:before {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 150%;
  padding: 0.3em;
  width: 2em;
  height: 2em;
  color: #4a4e50;
}
.maskedFieldLink {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    background-color: #4a4e50;
    color: #347aa1;
    margin-left: 0.5em;
  }
#page .formRow .maskedFieldLink {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  background-color: white;
  color: #347aa1;
  margin-left: 0.5em;
}
#page .formRow .maskedFieldLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f116";
}
#page .formRow .maskedFieldLink.active:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f117";
}
#page .formRow .maskedFieldLink.active:before {
  font-size: 150%;
  position: relative;
  margin-left: 0.25em;
  top: 0.075em;
}
#page .formRow .maskedFieldLink:before {
  font-size: 150%;
  position: relative;
  margin-left: 0.25em;
  top: 0.075em;
}
#page .formRow .forgotPasswordLink {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  color: #347aa1;
  margin-left: 0.5em;
}
#page .formRow .forgotPasswordLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f13d";
}
#page .formRow .forgotPasswordLink:before {
  font-size: 150%;
  position: relative;
  margin-left: 0.25em;
  top: 0.075em;
}
#page .formRow .date[data-mode="range"] {
  min-width: 25ex;
}
#page .formRow .treeSinglePickLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f11c";
}
#page .formRow .textarea {
  resize: vertical;
  margin: 0;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  min-width: 20ex;
  min-height: 5em;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page .formRow .textarea[readonly] {
  background: rgba(231, 235, 237, 0.5);
  border: 1px solid #a8acae;
  color: #4a4e50;
}
#page .formRow .textarea[disabled] {
  background: rgba(231, 235, 237, 0.5);
  border: 1px solid #a8acae;
  color: #4a4e50;
  cursor: not-allowed;
}
#page .formRow .remainingChars {
  padding: 0.25em;
  border-radius: 0.25em 0.25em 0 0;
  border: 1px solid #a8acae;
  border-bottom: none;
  background-color: #e7ebed;
  color: #000;
  font-size: 85%;
  margin-bottom: 0;
  font-weight: 200;
  text-align: right;
}
#page .formRow .remainingChars + .textarea {
  border-radius: 0 0 0.25em 0.25em;
  border-top: none;
  margin-top: 0;
}
#page .formRow .captchaImage {
  padding-right: 2em;
  margin-right: 0.33em;
  background-size: 1em auto;
  background-position: center right;
  background-repeat: no-repeat;
  vertical-align: bottom;
  border-radius: 0.5em;
}
#page .formRow .checkBox,
#page .formRow .radioButton {
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 11px;
  width: 1em;
  margin-right: 0.25em;
}
#page .formRow .comboBox {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  border: 1px solid #a8acae;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  background: #e7ebed;
  background-repeat: no-repeat;
  background-size: 24px 24px, auto;
  background-position: right center;
  color: #4a4e50;
  border-radius: 0.25em;
  padding: 0.25em 2em 0.25em 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
#page .formRow .comboBox::-ms-expand {
  display: none;
}
#page .formRow .comboBox option {
  background: #fff;
  padding: 0.25em;
  border: none;
}
#page .formRow .upload {
  margin: 0;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  min-width: 20ex;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  background: #fff;
}
#page .formRow .checkGroup,
#page .formRow .checkGroupLine,
#page .formRow .radioGroup,
#page .formRow .radioGroupLine,
#page .formRow .singleCheckGroupLine {
  float: left;
  display: block;
  background: #fff;
  margin: 0;
  margin-right: 0.25em;
  padding: 0.5em;
  border: 1px solid #e7ebed;
  border-radius: 0.25em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page .formRow .checkGroupLine,
#page .formRow .radioGroupLine {
  float: none;
  margin-bottom: 0.25em;
}
#page .formRow .singleCheckGroupLine {
  float: none;
}
#page .formRow .fieldInfo {
  padding-top: 0.5em;
  font-size: 85%;
  color: #4a4e50;
  clear: both;
}
#page .formRow .fieldHelp {
  display: none;
}
#page .formRow .fieldScroll,
#page .formRow .multiBox {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 15em;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  background-color: #fff;
}
#page .formRow .multiBox {
  height: 10em;
  padding: 0.5em;
  border: 1px solid #a8acae;
  border-radius: 0.25em;
  background-color: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#page .formRow .multiBox option {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}
#page .formRow .addressPickerLink,
#page .formRow .treeMultiPickLink {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  display: block;
  position: absolute;
  width: 12%;
  color: #4a4e50;
  background: #e7ebed;
  border: 1px solid #a8acae;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0.25em 0 0 0.25em;
  border-right: none;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  text-align: center;
  font-size: 75%;
  padding: 0.5em;
  line-height: 1em;
}
@media (min-width: 40.063em) {
  #page .formRow .addressPickerLink,
  #page .formRow .treeMultiPickLink {
    width: 8%;
  }
}
@media (min-width: 64.063em) {
  #page .formRow .addressPickerLink,
  #page .formRow .treeMultiPickLink {
    width: 5%;
  }
}
#page .formRow .addressPickerLink:before,
#page .formRow .treeMultiPickLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f128";
}
#page .formRow .addressPickerLink:before,
#page .formRow .treeMultiPickLink:before {
  display: block;
  font-size: 250%;
  padding-bottom: 0.1em;
}
#page .formRow .treeMultiPickLink:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f11c";
}
#page .formRow .addressPicker,
#page .formRow .treeMulti {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 12%;
  width: 88%;
  border-top-left-radius: 0;
}
@media (min-width: 40.063em) {
  #page .formRow .addressPicker,
  #page .formRow .treeMulti {
    margin-left: 8%;
    width: 92%;
  }
}
@media (min-width: 64.063em) {
  #page .formRow .addressPicker,
  #page .formRow .treeMulti {
    margin-left: 5%;
    width: 95%;
  }
}
#page .formSubmitRow {
  font-size: 90%;
  padding: 1.5em 1em 1em 1em;
  margin: 1em 0 3em 0;
  text-align: center;
}
#page .formSubmitRow .actionButton,
#page .formSubmitRow .backButton,
#page .formSubmitRow .cancelButton,
#page .formSubmitRow .ssoLink,
#page .formSubmitRow .submitButton {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #347aa1;
  color: #fff;
  border-radius: 1.25em;
  padding: 0.5em 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.66em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
  font-size: 112%;
  border: 1px rgba(52, 122, 161, 0.3) solid;
}
#page .formSubmitRow .backButton,
#page .formSubmitRow .cancelButton {
  background: rgba(74, 78, 80, 0.1);
  border: 1px rgba(74, 78, 80, 0.3) solid;
  color: rgba(74, 78, 80, 0.9);
}
#page .formSubmitRow .backButton:hover,
#page .formSubmitRow .cancelButton:hover {
  background-color: rgba(74, 78, 80, 0.05);
}
#page .formSubmitRow .backButton {
  background-size: 1em 1em;
  padding-left: 1.5em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
#page .formSubmitRow .submitButton {
  background-size: 1.4em 1.1em;
  padding-right: 1.5em;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 1;
  order: 1;
}
#page .confirmContainer,
#page .errorContainer,
#page .progressContainer,
#page .reminderContainer,
#page .warningContainer {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  font-size: 85%;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1em 1em 4em;
  border: 1px solid #e7ebed;
  border-bottom-width: 2px;
  margin-bottom: 1em;
  background-position: 1em center;
  background-repeat: no-repeat;
  background-size: 2em 2em;
  min-height: 3em;
  color: #4a4e50;
}
#page .errorContainer {
  background-color: rgba(205, 65, 65, 0.05);
  border-color: #cd4141;
}
#page .confirmContainer {
  background-color: rgba(80, 175, 0, 0.05);
  border-color: #50af00;
}
#page .reminderContainer {
  background-color: rgba(75, 135, 200, 0.05);
  border-color: #4b87c8;
}
#page .warningContainer {
  background-color: rgba(255, 165, 0, 0.05);
  border-color: orange;
}
#page .progressContainer {
  background-color: rgba(127, 127, 127, 0.05);
  border-color: #ddd;
}
#page .disclaimerContainer {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1em 1em 4em;
  margin: 1em 0 1em 0;
  min-height: 3em;
  background-size: 2.5em 2.5em;
  border: 1px solid #f7ea31;
  font-size: 85%;
}
#page #loginForm {
  font-size: 90%;
}
#page #loginForm .formRow {
  padding: 0.66em 0 1em 0;
}
#page #loginForm .formRow .capsWarning {
  display: none;
  font-size: 85%;
  padding: 0.25em 0;
}
#page #loginForm .formSubmitRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #e7ebed;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
}
#page .virtualKeyboard,
#page .virtualKeypad {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  color: #347aa1;
  margin-left: 0.5em;
}
#page .virtualKeyboard:before,
#page .virtualKeypad:before {
  font-family: edk;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f123";
}
#page .virtualKeyboard:before,
#page .virtualKeypad:before {
  font-size: 150%;
  position: relative;
  margin-left: 0.25em;
  top: 0.075em;
}
.signCode {
  font-size: 112%;
  color: #347aa1;
  border: 1px dotted #c8dae3;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
  margin: 5px 0 15px;
  text-align: center;
}
.signCode.signLcode {
  font-size: 250%;
  letter-spacing: 2px;
}
.cmask {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 137, 180, 0.2);
  z-index: 8000;
}
.mainBank {
  display: inline-block;
  position: relative;
}
.mainBank .subBank {
  display: none;
  position: absolute;
  right: 7px;
  top: 68px;
  background: #fff;
  border: 1px solid #e7ebed;
  border-radius: 4px;
  z-index: 99999;
}
.mainBank .closebank {
  z-index: 99999;
  display: none;
  position: absolute;
  right: 7px;
  bottom: 5px;
  color: #347aa1;
  padding: 0 5px 5px;
  border-radius: 4px;
  background: #fff;
  font-size: 18px;
}
.mainBank.open .subBank {
  display: block;
}
.mainBank.open .closebank {
  display: block;
}
.mainBank:before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 122, 161, 0);
  z-index: 99998;
  visibility: hidden;
  -webkit-transition: visibility 0s 1s, background 1s;
  -o-transition: visibility 0s 1s, background 1s;
  transition: visibility 0s 1s, background 1s;
}
.mainBank.open:before {
  visibility: visible;
  background: rgba(52, 122, 161, 0.25);
  -webkit-transition: visibility 0s, background 1s;
  -o-transition: visibility 0s, background 1s;
  transition: visibility 0s, background 1s;
}
.bankLinks {
  display: block;
  text-align: center;
}
.bankLinks a {
  background: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1em 1em;
  min-height: 60px;
  border: 1px solid #e7ebed;
  border-radius: 0.3em;
  margin: 0.5em;
  font-weight: 200;
  text-align: center;
}
.bankLinks a:hover {
  border: 1px solid #a8acae;
}
.bankLinks:after {
  clear: both;
}
.formDesc {
  display: block;
  margin: 5px 0;
  color: #347aa1;
}
@media (min-width: 40.063em) {
  .formDesc {
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.halfCol {
  width: 45%;
  float: left;
  max-height: 240px !important;
  margin-top: 10px;
}
.keypadWrapper {
  width: 45%;
  display: inline-block;
}
.keypadWrapper p {
  text-align: center;
  color: #347aa1;
}
.keypadContainer {
  width: 162px;
  margin: 10px auto;
}
.keypadContainer input {
  display: block;
  background: #fff;
  border: 1px solid #e4e4e4;
  width: 150px;
  height: 28px;
  margin: 5px auto;
}
.keypadContainer input:focus {
  outline: 0;
}
.keypadContainer .keypad {
  width: 32%;
  display: inline-block;
}
.keypadContainer .number {
  margin: 3px;
  cursor: pointer;
  display: block;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 120%;
  color: #333;
  text-align: center;
  border: 2px solid #e4e4e4;
}
.keypadContainer .number:focus,
.keypadContainer .number:hover {
  border: 2px solid #347aa1;
  background: #347aa1;
  color: #fff;
}
.pull-left {
  float: left;
}
.remaining-time {
  background: #72a3be;
  color: #fff;
  padding: 6px 10px;
  border-radius: 2px;
  float: left;
  margin: 1px 5px;
}
.remaining-time a {
  text-decoration: none;
  color: #fff;
}
.remaining-time span {
  opacity: 0.7;
  float: left;
  margin-right: 5px;
}
.remaining-time #countdown {
  float: left;
  font-weight: 700;
  min-width: 28px;
}
.remaining-time .startTimer {
  display: none;
}
.mode-unscroll {
  position: fixed;
  overflow: hidden;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99000;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.modal .modalBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.modal .modal-container {
  position: fixed;
  z-index: 99900;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-box-shadow: 0 0.4em 0.5em rgba(33, 78, 103, 0.2);
  box-shadow: 0 0.4em 0.5em rgba(33, 78, 103, 0.2);
  min-height: 200px;
  background: #fff;
  color: #000;
  width: 80%;
  left: 10%;
  top: 10%;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
}
@media (min-width: 64.063em) {
  .modal .modal-container {
    width: 50%;
    left: 25%;
    top: 10%;
  }
}
.modal .modal-container .modal-content {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}
.modal .modal-container h3 {
  color: #347aa1;
}
.modal .modal-container h4 {
  margin: 0;
}
.modal .modal-container p {
  margin: 0.5em 0;
  font-size: 90%;
  line-height: 18px;
  color: #555;
  text-transform: none;
}
.modal .modal-container .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #aaa;
  font-size: 30px;
}
.modal .modal-container .modal-footer {
  display: block;
}
.modal .modal-container .cancelButton {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #347aa1;
  color: #fff;
  border-radius: 1.25em;
  padding: 0.5em 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin-top: 1em;
  margin-bottom: 0.25em;
  margin-right: 1em;
  font-size: 100%;
  float: right;
  border: 1px rgba(52, 122, 161, 0.3) solid;
}
.modal .modal-container .cancelButton:hover {
  background-color: #3a89b4;
}
.error-icon {
  display: block;
  font-size: 70px;
  text-align: center;
  color: #347aa1;
  line-height: 60px;
}
.loader {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  margin: 0.5em 0;
  display: block;
  text-align: center;
  font-size: 90%;
}
.loader img {
  height: 32px;
  width: 32px;
  opacity: 0.5;
  margin: 0.5em;
}
.reset-password {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #e7ebed;
}
.reset-password li {
  display: inline-block;
  position: relative;
  font-size: 90%;
  color: #aaa;
  line-height: 1em;
  margin: 0 6px 5px -10px;
  padding: 0 12px;
}
.reset-password li.active {
  color: #347aa1;
  font-weight: 700;
}
.reset-password li.selected {
  color: #555;
  font-weight: 700;
}
.reset-password li::after,
.reset-password li::before {
  border-right: 1px solid #bbb;
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
}
.reset-password li::after {
  bottom: 0;
  top: auto;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}
.reset-password li:last-of-type::after,
.reset-password li:last-of-type::before {
  display: none;
}
.reset-password:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.virtual-key-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  margin-top: 10px;
}
.virtualKeyboard,
.virtualKeypad {
  position: relative;
  clear: right;
}
.keyboard,
.keypad {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  -webkit-box-shadow: 1px 1px 5px 0 #acacac;
  box-shadow: 1px 1px 5px 0 #acacac;
  top: 24px;
  left: 5px;
  background-color: #f1f1f1;
  z-index: 5;
  padding: 3px;
  border-radius: 5px;
}
.keyboard *,
.keypad * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.keyboard .keyboard-row,
.keyboard .keypad-row,
.keypad .keyboard-row,
.keypad .keypad-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: nowrap row;
  flex-flow: nowrap row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.keyboard .keyboard-key,
.keyboard .keypad-key,
.keypad .keyboard-key,
.keypad .keypad-key {
  font-weight: 700;
  font-size: 11px;
  width: 40px;
  padding: 3px 8px;
  background-color: #fff;
  color: #294285;
  margin: 3px;
  border-radius: 3px;
  text-align: center;
}
.keyboard .keyboard-key.double,
.keyboard .keypad-key.double,
.keypad .keyboard-key.double,
.keypad .keypad-key.double {
  width: 86px;
}
.keyboard .keyboard-key,
.keypad .keyboard-key {
  width: 26px;
}
.keyboard .keyboard-key.double,
.keypad .keyboard-key.double {
  width: 58px;
}
.keyboard .keyboard-key.quarter,
.keypad .keyboard-key.quarter {
  width: 42px;
}
.ftimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px dotted #c8dae3;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px 0 15px;
  text-align: center;
}
.rtime {
  line-height: 40px;
  font-size: 110%;
  height: 40px;
  float: left;
}
.rtime span {
  font-size: 250%;
  float: right;
  letter-spacing: 1px;
  margin: 0 5px;
  color: #000;
}
.btn_theme {
  background: #347aa1;
  border: 0;
  font-size: 110%;
  color: #fff;
  margin: 5px;
  border-radius: 4px;
  padding: 10px 15px;
}